.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.titleFont {
    font-family: 'Judson', serif;
}

body {
    font-family: 'Yaldevi', sans-serif;
}

.headerBackground {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    background-image: radial-gradient(circle 827px at 47.3% 48%, rgba(255, 255, 255, 1) 0%, rgba(138, 192, 216, 1) 90%);
}

@media only screen and (min-width: 992px) {
    .headerBackground {
        background-image: url("/img/JillPrestonLarge.png");
        min-height: 400px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 9910x) {
    .headerBackground {
        background-image: url("/img/JillPrestonSmall.png")
    }
}